# =========================
# Android Studio / IntelliJ
# =========================
*.iml
.gradle
/local.properties
/.idea/

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build outputs
# =========================
/build
/captures
.externalNativeBuild
.cxx

# =========================
# Logs
# =========================
*.log
