# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Added .idea XML files
/.idea/AndroidProjectSystem.xml
/.idea/deploymentTargetSelector.xml
/.idea/misc.xml
/.idea/vcs.xml

# System files
.DS_Store

# Build outputs
/build
/captures
.externalNativeBuild
.cxx
local.properties
