<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smart_campus">

        <!-- Login Screen (Launcher) -->
        <activity
            android:name=".screen.LoginScreen"
            android:exported="true"
            android:theme="@style/Theme.Smart_campus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dashboard -->
        <activity
            android:name=".screen.Dashboard"
            android:exported="false"
            android:theme="@style/Theme.Smart_campus" />

        <!-- Campus Info -->
        <activity
            android:name=".screen.CampusInfo"
            android:exported="false"
            android:theme="@style/Theme.Smart_campus" />

        <!-- Profile -->
        <activity
            android:name=".screen.ProfileScreen"
            android:exported="false"
            android:theme="@style/Theme.Smart_campus" />

        <!-- Settings -->
        <activity
            android:name=".screen.SettingScreen"
            android:exported="false"
            android:theme="@style/Theme.Smart_campus" />

        <activity
            android:name=".screen.ToDoScreen"
            android:exported="false"
            android:theme="@style/Theme.Smart_campus" />

        <!-- Phase 2: Task Manager -->


        <!-- Optional MainActivity (keep only if still used) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Smart_campus" />

    </application>

</manifest>
